# Ignore docker files
.dockerignore
Dockerfile*
docker-compose*

# Ignore .git
/.git
.gitignore

# Ignore bundler config.
/.bundle
vendor/bundle

/.env
.travis.yml

# Ignore all logfiles.
/log/*
!/log/.keep

# Ignore Rubocop files
.rubocop-*

# Ignore coverage reports
/coverage/*

# Ignore editor specific configs
/.idea
/.vscode
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace
.generators
.rakeTasks

# System Files
.DS_Store
Thumbs.db
